<mat-progress-bar
  [mode]="progressBarMode"
  [value]="progressBar"
  [bufferValue]="progressBarBuffer"
>
  >
</mat-progress-bar>

<m3j-timer
  (counterChange)="onCounterChange($event)"
  [startStopCommand]="timerCommand"
  class="sw-timer-display"
></m3j-timer>

<mat-card-actions class="sw-buttons">
  <button mat-flat-button (click)="onButtonClick('start')">
    START
    <!-- <mat-icon>
      play_circle_outline
    </mat-icon> -->
  </button>
  <button mat-flat-button (click)="onButtonClick('stop')">
    STOP
    <!-- <mat-icon>
      pause_circle_outline
    </mat-icon> -->
  </button>
  <button mat-flat-button (click)="onButtonClick('reset')">
    RESET
    <!-- <mat-icon>
      replay
    </mat-icon> -->
  </button>
</mat-card-actions>
