.sw-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sw-timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sw-progress {
  display: flex;
  width: 100%;
}
