:host {
  min-height: 100%;
  height: 100vh;
  background-color: red; //  rgba(20,121, 255, 30%);
}

// body {
//   background-color: red;
//   color: red;
// }

// blue: #1479ff; (shadow same 30% opacity)
// blue-super-light (): $1479ff (10% opacity)
// blue-dark: 193b68
// blue-dark-super-slight: 193b68 10% opacity

// muito azul 14d2ff
// azul 14a5ff
// azul piscina 14ebff respon
