<div class="d-flex justify-content-around align-items-center mb-1 toolbar">
  <button class="btn btn-primary" data-toggle="button" aria-pressed="false" (click)="start()">Start</button>
  <button class="btn btn-primary" data-toggle="button" aria-pressed="false" (click)="stop()">Stop</button>
  <button class="btn btn-primary" data-toggle="button" aria-pressed="false" (click)="reset()">Reset</button>
  <button class="btn btn-primary" data-toggle="button" aria-pressed="false">Preferences</button>
  <button class="btn btn-primary" data-toggle="button" aria-pressed="false">Help</button>
</div>
