<div class="container">
  <div class="d-flex flex-column card">
    <!-- <div class="fixed-top"> -->
      <m3j-clock [stopwatch]="stopwatch" ></m3j-clock>
      <m3j-progress></m3j-progress>
      <!-- <m3j-preferences></m3j-preferences> -->
      <m3j-recipe></m3j-recipe>
    <!-- </div> -->
    <div class="fixed-bottom">
      <!-- Bottom text -->
      <!-- <m3j-preferences></m3j-preferences> -->
      <!-- <button (click)="openBottomSheet()">Open file</button> -->
      <m3j-toolbar (clockCommand)="onClockCommand($event)"></m3j-toolbar>
    </div>
  </div>
</div>
