<h3>Get ready</h3>
<div>
  <div style="display: flex; justify-content: space-around;">
    <mat-form-field class="summary">
        <input matInput value="{{ totalTime }}" placeholder="Ready in" disabled>
        <!-- <mat-icon matSuffix>timer</mat-icon> -->
      </mat-form-field>
    <mat-form-field class="summary">
        <input matInput value="{{ formattedSteps.length }}" placeholder="Pours" disabled>
        <!-- <mat-icon matSuffix>timer</mat-icon> -->
      </mat-form-field>
  </div>
  <p>
  <li *ngFor="let step of formattedSteps; let i=index">
    <strong>{{ step.time }}</strong>:  {{ step.acc }}ml
  </li>
  </p>
  <p>
    <span>Click start when you are ready. The stopwatch will notify you when to pour boiling water.</span>
  </p>
  <br />
  <m3j-stopwatch (counterEvent)="onCounterChange($event)" (isRunningEvent)="onIsRunningChange($event)"></m3j-stopwatch>
</div>
