<h3>Get ready</h3>
<div>
  <p>
    <span>Your coffee will be ready in <strong>{{ totalTime }}</strong> and requires <strong>{{ recipe.steps.length }} pours</strong>.</span>
  </p>
  <p>
  <li *ngFor="let step of formattedSteps; let i=index">
    <strong>{{ step.time }}</strong>:  {{ step.acc }}ml
  </li>
  </p>
  <p>
    <span>Click start when you are ready. The stopwatch will notify you when to pour boiling water.</span>
  </p>
  <br />
  <m3j-stopwatch (counterEvent)="onCounterChange($event)" (isRunningEvent)="onIsRunningChange($event)"></m3j-stopwatch>
</div>
