<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 title">Coffee Helper</span>
</nav>

<div class="container-fluid">
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">4:6 Method</h5>
      <m3j-recipe-selection (recipeEvent)="onRecipeChange($event)" [isStopwatchRunning]="isStopwatchRunning">
      </m3j-recipe-selection>
      <br>
      <m3j-recipe-execution [recipe]="recipe" (isRunningEvent)="onExecutionStatusChange($event)">
      </m3j-recipe-execution>
    </div>
  </div>
</div>
